.text {
  background-color: #B8860B;
  color: #fff;
  font-weight: bold;
  padding: 12px 20px; 
  border: 1px solid #444;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px; 
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-family: 'Bebas Neue', sans-serif;
  margin-top: 15px; 
  width: 100%;
  box-sizing: border-box;
  
  transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.text:hover {
  background-color: #3a3a3a;
  border-color: #fdd000;
  color: #fdd000;
}