.container {
  position: relative;
  width: 100%;
}

.input {
  background-color: #2e2e2e;
  border: 1px solid #444;
  border-radius: 5px;
  
  padding: 12px 40px 12px 15px; 
  
  font-size: 16px; 
  color: #fff;
  width: 100%;
  box-sizing: border-box;
  
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: 0.8px;
  
  transition: border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.input::placeholder {
  color: #888;
}

.input:focus {
  outline: none;
  border-color: #fdd000;
  background-color: #3a3a3a;
}

.icon {
  position: absolute;
  right: 12px; 
  top: 50%;
  transform: translateY(-50%);
  
  font-size: 18px;
  color: #fdd000;
  
  pointer-events: none; 
}